body {
    background-color: salmon;
    font-family: 'Spline Sans Mono', monospace;
}

h1 {
    font-size: 50px;
    font-weight: 300;
}

h2 {
    font-size: 20px;
}

.parrafo-destacado {
    color:blue;
    font-size: 30px;
    line-height: 38px;
}

strong {
    color: green;
}

p strong {
    color: red;
    background-color: beige;

}

.parrafo-destacado em {
    color: aqua;
    text-transform: uppercase;
}